:root{

  /*font-weight*/
  --font-family-sans : 'Poppins', sans-serif;
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
/*font-sizes*/
  --font-size-200: 1.3rem;
  --font-size-300: 1.4rem;
  --font-size-400: 1.5rem;
  --font-size-500: 1.7rem;
  --font-size-600: 1.9rem;
  --font-size-900: 3.5rem; /*biggest font size - just guessing now*/
  /*colors*/
  --color-neutral-900: hsl(234, 12%, 34%);
  --color-neutral-400: hsl(229, 6%, 66%);
  --color-neutral-100: hsl(0, 0%, 98%);
  --color-neutral-0: hsl(0, 100%, 100%);
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);

}

.block{
  display: block;
}

html{
  font-size: 10px;
}

body{
  padding: 0;
  margin:0;
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-400);
  line-height: 2rem;
  color: var(--color-neutral-400);
  height: 100vh;
  background: var(--color-neutral-100);
  display: grid;
  align-content: center;
}

/* resets*/

*,
*::before,
*::after{
  box-sizing: border-box;
}

h1,
h2,
h3,
p{
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
  display: block;
}

/*wrappers*/


.wrapper{
  width: 77%;
  max-width: 1109px;
  margin:auto;
}

.wrapper-narrow{
  /* width: 35%; */
  max-width: 504px;
  margin: auto;
  margin-bottom: 7rem;
}

h1{
  font-size: var(--font-size-900);
  font-weight: var(--font-weight-light);
  line-height: 1.38;
  letter-spacing: 0.7px;
  color: var(--color-neutral-900);
  text-align: center;
  margin-bottom: 2.4rem;
}

h1 span{
  font-weight: var(--font-weight-bold);
}

.page__intro{
  text-align: center;

}

/* card related css rules*/

.grid{
  display: grid;
  gap: 3.2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  'first  second  fourth'
  'first  third  fourth';
}

.card-first{
  grid-area: first;
  align-self: center;
}
.card-second{
  grid-area: second;
}
.card-third{
  grid-area: third;
}
.card-fourth{
  grid-area: fourth;
  align-self: center;
}

.card__heading{
  color: var(--color-neutral-900);
  font-size: var(--font-size-600);
  margin-bottom: 2rem;
}

.card__text{
  text-align: left;
  font-size: var(--font-size-200);
}

.card__icon{
  display: block;
  margin: 3.6rem 0 auto auto;
}

.card{
  background: var(--color-neutral-0);
  padding: 3.3rem 3.3rem 3rem;
  border-radius: 5px;
  box-shadow: 0  1rem  2rem -0.4rem  rgba(0,50,200,0.2);
}

.card-first{
  border-top: 4px solid var(--color-cyan);
}

.card-second{
  border-top: 4px solid var(--color-red);
}

.card-third{
  border-top: 4px solid var(--color-orange);
}

.card-fourth{
  border-top: 4px solid var(--color-blue);
}


@media screen and (max-width: 1000px){

  .wrapper-narrow{
    width: 70%;
  }
  .grid{
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    'first  second'
    'third fourth'
  }
  .card{
    align-self: stretch !important;
  }
}


@media screen and (max-width: 670px){
  h1{
    font-size: 2.3rem;
    line-height: 1.6;
    margin-bottom: 2rem;
  }

  .grid{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'first'
    'second'
    'third'
    'fourth'
  }

  .wrapper{
    margin-top: 1rem;
    width: 83%;
  }

  .grid{
    gap: 1.6rem;
  }

  .card{
    padding: 3rem 2.6rem 3rem;
  }

  .card__heading{
    margin-bottom: 1rem;
  }

  .card__icon{
    margin-top: 3rem;
  }
}